// $ce-screen-breakpoint-xxs: 320px !default;
// $ce-screen-breakpoint-xs: 480px !default;
// $ce-screen-breakpoint-sm: 767px !default;
// $ce-screen-breakpoint-md: 991px !default;
// $ce-screen-breakpoint-lg: 1200px !default;
// $ce-screen-breakpoint-xl: 1441px !default;

$ce-screen-breakpoint-xxs: 375px !default;
$ce-screen-breakpoint-xs: 480px !default;
$ce-screen-breakpoint-sm: 600px !default;
$ce-screen-breakpoint-md: 960px !default;
$ce-screen-breakpoint-lg: 1280px !default;
$ce-screen-breakpoint-xl: 1920px !default;
